li {
  list-style: none;
}

.headerBrand {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    background-color: pink;
}

.header__icon {
    margin-left: 3%;
}

.form {
    padding: 10px;
}

.card_img {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}

.search {
    width: 50%;
}

.favourite {
    background-color: aquamarine;
}

.js_AllSeries {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    height: 100vh;
}

css_cards {
    display: flex;
    align-items: center;
}